.exploreBtn {
	opacity: 0;
}

.card:hover .exploreBtn {
	bottom: 0;
	transition: all ease 0.5s;
	opacity: 1;
}

.exploreBtn button:hover {
	background-color: white;
	color: black;
	transition: all ease 0.5s;
}

.service {
	background: #f0e8e9 url("/images/ourServices/bg.png");
	margin-bottom: 64px;
}
